@import "./../../../../assets/color-palette.scss";

@media screen and (max-width: 770px) {
  :host {
    .back-button-container {
      display: flex;
    }
  }
}

@media screen and (min-width: 771px) {
  :host {
    .back-button-container {
      display: none;
    }
  }
}

:host {
  border: solid 1px $accent-dark;

  background: $background-dark;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  overflow-y: scroll;

  .back-button-container {
    width: 100%;

    justify-items: flex-start;

    .icon {
      width: 24px;
      height: 24px;
      margin: 1rem;

      fill: $font-dark;

      cursor: pointer;

      transform: rotate(180deg);

      &:hover {
        transform: scale(1.1) rotate(180deg);
      }

      &:active {
        transform: scale(0.9) rotate(180deg);
      }
    }
  }

  .header {
    width: 100%;

    margin: 1rem 0 1rem 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.7rem;

    .profile-picture {
      width: 5.5rem;
      height: 5.5rem;

      border-radius: 100%;

      -webkit-user-drag: none;
      user-select: none;
    }

    .name {
      color: $font-dark;
      font-size: 1.3rem;
      user-select: none;
    }
  }

  .icons {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 2rem;

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      row-gap: 0.5rem;

      text-decoration: none;
      user-select: none;
      -webkit-user-drag: none;

      .icon-background {
        width: 2.5rem;
        height: 2.5rem;

        border-radius: 100%;
        background-color: $accent-dark;

        display: flex;
        align-items: center;
        justify-content: center;

        .icon {
          width: 24px;
          height: 24px;

          fill: $font-dark;

          border-radius: 100%;
        }
      }

      .description {
        color: $font-dark;
        user-select: none;
      }

      &:hover {
        .icon-background {
          background: $scrollbar-handle-dark;
        }
      }

      &:active {
        transform: scale(0.9);
      }
    }
  }

  .dropdown-container {
    width: 100%;

    .article {
      display: flex;
      flex-direction: row;
      align-items: center;

      margin: 0.5rem 0 1rem 0;

      .text-wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;

        .name {
          font-size: 1.5rem;
        }
      }

      h3 {
        user-select: none;
        text-align: center;
        margin: 1rem;
      }

      p {
        width: 100%;
        font-size: 1.2rem;
        padding: 1rem;
        margin-bottom: 1rem;
        user-select: none;

        box-shadow: 0 5px 5px $font-light;
        transition: 0.7s box-shadow;
        text-align: center;
      }

      &:hover {
        p {
          box-shadow: 0 5px 5px $accent-dark;
          transition: 0.7s box-shadow;
        }
      }
    }

    .description {
      margin-top: 2rem;
    }

    .image {
      margin: 2rem;
      width: 20%;
    }

    .project {
      display: flex;
      flex-direction: row;

      margin: 2rem 1rem 2rem 1rem;

      width: 100%;

      .text-wrapper {
        display: flex;
        flex-direction: column;

        width: 100%;
        align-items: center;
        justify-content: center;

        font-size: 1.1rem;

        h3 {

          a {
            color: $font-dark;
            text-decoration: underline;
          }
        }

        p {
          margin: 1rem;
        }

      }

      img {
        width: 60%;
      }
    }


    .row {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    .contact-dropdown {
      display: flex;
      flex-direction: column;

      margin: 1rem 0 3rem 0;

      border: 1px solid $accent-dark;
      border-radius: 1rem;

      .contact {
        margin: 1rem;
        user-select: text;
        color: $font-dark;
      }

      .contact-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }
    }
  }

  /* width */
  &::-webkit-scrollbar {
    width: 1.2vw;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: $scrollbar-track-dark;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $scrollbar-handle-dark;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $scrollbar-handle-hover-dark;
  }
}
