<div class='back-button-container'>
  <svg class='icon' (click)='changeInfoPanelState()'>
    <use [attr.xlink:href]='backLogoSrc'></use>
  </svg>
</div>
<div class='header'>
  <img class='profile-picture' src='assets/images/kamienkaze.jpg'>
  <div class='name'>Michał Kamiński</div>
</div>
<div class='icons'>
  <a href='https://www.linkedin.com/in/micha%C5%82-kami%C5%84ski-627651254/'>
    <div class='icon-background'>
      <svg class='icon'>
        <use [attr.xlink:href]='linkedinLogoSrc'></use>
      </svg>
    </div>
    <div class='description'>LinkedIn</div>
  </a>
  <a href='https://github.com/KamienKaze'>
    <div class='icon-background'>
      <svg class='icon'>
        <use [attr.xlink:href]='githubLogoSrc'></use>
      </svg>
    </div>
    <div class='description'>GitHub</div>
  </a>
  <a href='https://www.facebook.com/profile.php?id=100016294147531'>
    <div class='icon-background'>
      <svg class='icon'>
        <use [attr.xlink:href]='facebookLogoSrc'></use>
      </svg>
    </div>
    <div class='description'>Facebook</div>
  </a>
</div>
