<div class='back-button-container'>
  <svg class='icon' (click)='changeInfoState()'>
    <use [attr.xlink:href]='backLogoSrc'></use>
  </svg>
</div>
<div class='header'>
  <img class='profile-picture' src='assets/images/kamienkaze.jpg'>
  <div class='name'>Michał Kamiński</div>
</div>
<div class='icons'>
  <a href='https://www.linkedin.com/in/micha%C5%82-kami%C5%84ski-627651254/'>
    <div class='icon-background'>
      <svg class='icon'>
        <use [attr.xlink:href]='linkedinLogoSrc'></use>
      </svg>
    </div>
    <div class='description'>LinkedIn</div>
  </a>
  <a href='https://github.com/KamienKaze'>
    <div class='icon-background'>
      <svg class='icon'>
        <use [attr.xlink:href]='githubLogoSrc'></use>
      </svg>
    </div>
    <div class='description'>GitHub</div>
  </a>
  <a href='https://www.facebook.com/profile.php?id=100016294147531'>
    <div class='icon-background'>
      <svg class='icon'>
        <use [attr.xlink:href]='facebookLogoSrc'></use>
      </svg>
    </div>
    <div class='description'>Facebook</div>
  </a>
</div>
<div class='dropdown-container'>
  <app-dropdown text='About me' class="dropdown-1">
    <div class="article">
      <h3>Who am I?</h3>
      <p>
        I am a passionate front-end developer and hopefully future game developer. I graduated at
        Technical School No. 7 in Gorzów Wielkopolski, Poland.
        As far as I remember, I was interested how various things
        work, from pens to engines and computers.</p>
    </div>
    <div class="article">
      <p>
        My journey into the world of programming began at the
        young age of 13 when my fascination with computer games
        ignited a desire to create my own interactive experiences.
        It was during this time that I discovered the enchanting
        world of coding, and I've been captivated by it ever since.</p>
      <h3>How it all started</h3>
    </div>
    <div class="article">
      <h3>What is important for me</h3>
      <p>
        Through my education, I've honed
        my skills in HTML, CSS, JavaScript, and other cutting-edge
        front-end technologies. Additionally, I continuously strive
        to stay up-to-date with the latest industry trends, ensuring
        that my work reflects the best practices and innovations
        in the fast-paced world of web development. I pay a lot of
        attention to keep my code as clean and readable as possible.</p>
    </div>
    <div class="article">
      <p>
        When I'm not immersed in lines of code, you'll likely find
        me exploring new indie games, drawing inspiration from their
        unique art styles. You can catch me watching loads of science
        films too. I firmly believe that curiosity is the key to growth
        and success in any field, and I'm always eager to expand my horizons.</p>
      <h3>What else do I do?</h3>
    </div>

  </app-dropdown>
  <app-dropdown text='Education' class="dropdown-2">
    <div class="article">
      <img class="image" src="assets/images/elektryk.svg">
      <div class="text-wrapper">
        <div class="name">Zespół Szkół Elektrycznych nr. 7 w Gorzowie Wielkopolskim</div>
        <div class="direction">Programmer technician</div>
      </div>
    </div>
  </app-dropdown>
  <app-dropdown text='Technologies I use' class="dropdown-3">
    <div class="row">
      <img class="image" src="https://angular.io/assets/images/logos/angular/angular.svg">
      <img class="image" src="https://rxjs.dev/generated/images/marketing/home/Rx_Logo-512-512.png">
      <img class="image"
           src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/96/Sass_Logo_Color.svg/1280px-Sass_Logo_Color.svg.png">
    </div>
    <div class="row">
      <img class="image"
           src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c0/WebStorm_Icon.svg/1200px-WebStorm_Icon.svg.png">
      <img class="image"
           src="https://bendyworks.com/assets/images/blog/2020-05-21-setup-windows-development-eb5c79a7.png">
    </div>
    <div class="description">Currently learning:</div>
    <div class="row">
      <img class="image" src="https://ngrx.io/assets/images/badge.svg">
    </div>
  </app-dropdown>
  <app-dropdown text='Projects' class="dropdown-4">
    <div class="project">
      <div class="text-wrapper">
        <h3><a href="https://kamienkaze.github.io/Spothiefy-desktop/home">Spothiefy</a></h3>
        <p>Spothiefy is a copy of Spotify music player. In retrospect I see a lot of mistakes and things that now I would have done different, starting with NgRx State Management.</p>
      </div>
      <img src="assets/images/spothiefy-desktop.png">
    </div>
  </app-dropdown>
  <app-dropdown text='Contact' class="dropdown-5">
    <div class="contact-dropdown">
      <div class="contact">Email: michalkaminski.kamienkaze@gmail.com</div>
      <div class="contact-wrapper">
        <a href="https://www.linkedin.com/in/micha%C5%82-kami%C5%84ski-627651254/" class="contact">LinkedIn</a>
        <a href="https://github.com/KamienKaze" class="contact">GitHub</a>
      </div>
    </div>
  </app-dropdown>
</div>
