@import "./../assets/color-palette.scss";

@media screen and (max-width: 770px) {
  :host {
    .active-main {
      display: none;
    }

    .not-active-main {
      display: flex;
    }
  }
}

@media screen and (min-width: 771px) {
  :host {
    .active-main {
      display: flex;
    }

    .not-active-main {
      display: flex;
    }
  }
}

@keyframes info-enter {
  from {
    width: 0
  }
  to {
    width: 100%;
  }
}

@keyframes info-exit {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

:host {
  background-color: $background-dark;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;

  overflow: hidden;

  app-conversation-window {
    height: 100%;
  }

  app-info-section {
    height: 100%;
  }

  .active-info {
    display: flex;
  }

  .not-active-info {
    display: none;
  }
}
