@import "./../assets/color-palette.scss";

@media screen and (max-width: 770px) {
  :host {
    .app-info-wrapper {
      width: 100vw;
      position: fixed;
      z-index: 2;
      right: 0;

      app-info-section {
        position: fixed;
        width: 100vw;
        height: 100%;
      }
    }

    .info-collapsed {
      width: 0;
      transition: 1s width;

      app-info-section {
        transform: translateX(100vw);
        transition: 1.1s transform;
      }
    }

    .info-expanded {
      width: 100%;
      transition: 1s width;

      app-info-section {
        transform: none;
        transition: 1.1s transform;
      }
    }
  }
}

@media screen and (min-width: 771px) {
  :host {
    .app-info-wrapper {
      height: 100%;

      app-info-section {
        position: fixed;
        width: 50vw;
        height: 100%;
      }
    }

    .info-collapsed {
      width: 0;
      transition: 1s width;

      app-info-section {
        transform: translateX(100%);
        transition: 0.8s transform;
      }
    }

    .info-expanded {
      width: 100%;
      transition: 1s width;

      app-info-section {
        transform: none;
        transition: 0.8s transform;
      }
    }
  }
}

:host {
  background-color: $background-dark;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;

  overflow: hidden;

  app-conversation-window {
    height: 100%;
  }

  .app-info-wrapper {
    background: $font-light;
    height: 100%;

    app-info-section {

    }
  }
}
