@import "./../../../../assets/color-palette.scss";

:host {
  width: 100%;
  height: fit-content;

  display: flex;

  .background {
    padding: 0.5% 1.5% 0.5% 1.5%;

    max-width: 40%;
    margin-bottom: 0.3rem;

    word-break: break-word;
    display: flex;
    justify-content: center;
    align-items: center;

    width: fit-content;
    height: fit-content;

    color: $font-dark;
  }

  .blue {
    background-color: $blue;
    margin-left: auto;
    border-radius: 1rem 1rem 0.2rem 1rem;
  }

  .gray {
    background-color: $accent-dark;
    margin-right: auto;
    border-radius: 1rem 1rem 1rem 0.2rem;
  }
}
