@import "./../../../../assets/color-palette.scss";

:host {

  .button {
    display: flex;
    flex-direction: row;
    height: 1.5rem;

    margin: 1rem;
    padding: 1rem;

    box-shadow: 0 0 2px $accent-dark;
    border-radius: 1rem;

    .text{
      width: 100%;

      font-size: 1.3rem;

      color: $font-dark;
    }

    .icon {
      width: 24px;
      height: 24px;

      fill: $font-dark;

      transform: rotate(90deg);
    }
  }

  .content {
    margin: 0 2rem 0 2rem;
    max-height: inherit;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: $font-dark;

    overflow: hidden;

    user-select: none;
  }

  .expanded {
    display: flex;
  }

  .collapsed {
    display: none;
  }
}
