$background-dark: #242526;
$background-light: #ffffff;

$accent-dark: #424242;
$accent-light: #e4e6eb;

$font-dark: #e3e5ea;
$font-accent-dark: #a1a3a8;
$font-light: #1d1f23;
$font-accent-light: #919395;

$blue: #2e89ff;

$scrollbar-track-dark: #3a3b3c;
$scrollbar-handle-dark: #686868;
$scrollbar-track-light: #f1f1f1;
$scrollbar-handle-light: #c1c1c1;
